body{
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
    padding: 4.5em 0 0 0;
    margin: 0;
    position: relative;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 11em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.title{
    margin: 0;
    font-size: 1.8em;
    cursor: pointer;
}
.spo-blue{
    color: blue;
}
.nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
.nav-li{
    height: 4.5em;
}
.a-head{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    color: black;
    font-size: 1em;
}
.a-head:hover{
    color: blue;
}
.a-nav:active{
    font-weight: 600;
}
.s{
    font-size: 1.2em;
    margin-left: 0.5em;
}
footer{
    border-top: 1px solid lightgray;
    font-size: 1.1em;
    display: grid;
    padding: 2em 10.1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.exp-ul{
    list-style: none;
    padding: 0;
}
.exp-li{
    margin: 0 0 0.8em 0;
    display: flex;
}
.exp-a{
    text-decoration: none;
    color: black;
    min-width: 40%;
    transition: 0.2s ease-in;
}
.exp-a:hover{
    transform: translateX(2%);
    color: blue;
}
.trav, .ex-des, .res-des, .conn-des{
    font-weight: 600;
    font-size: 1.1em;
}
.dest-intro{
    margin:0;
    background-color: #eee;
    padding: 1.5em 11em;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dest-cat{
    font-weight: 600;
    margin: 0.2em 0;
    font-size: 1.7em;
}

.all-des{
    padding: 1.7em 11em;
}
.des-btn{
    font-size: 0.9em;
    padding: 0.8em 1.1em;
    margin: 0 0.7em 0 0;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.des-btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.05);
}
.des-cards{
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2em;
}

.des-img1, .des-img2, .des-img3, .des-img4, .des-img5, .des-img6, .des-img7, .des-img8, .des-img9, .des-img10, .des-img11, .des-img12, .des-img13, .des-img14, .des-img15{
    height: 30vh;
    background-color: #eee;
    border-radius: 0.7em;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
}
.des-img1{
    background-image: url(../img/Palawan\ Island\ 1.jpg);
}
.des-img2{
    background-image: url(../img/Boracay\ 2.jpg);
}
.des-img3{
    background-image: url(../img/Rice\ terraces\ cordilleras\ 2.jpg);
}
.des-img4{
    background-image: url(../img/Manila\ Philippines.jpg);
}
.des-img5{
    background-image: url(../img/Cebu\ mactan.webp);
}
.des-img6{
    background-image: url(../img/Cloud\ 9\ Siargao\ Beach.jpg);
}
.des-img7{
    background-image: url(../img/Bohol\ 3\ .jpg);
}
.des-img8{
    background-image: url(../img/Vigan\ tour.jpg);
}
.des-img9{
    background-image: url(../img/Palawan\ city.jpg);
}
.des-img10{
    background-image: url(../img/palm\ tree\ rope\ swing\ in\ siargao.jpg);
}
.des-img11{
    background-image: url(../img/Manila\ Rizal\ Park.jpg)
}
.des-img12{
    background-image: url(../img/Cebu\ mactan.webp);
}
.des-img13{
    background-image: url(../img/Casino\ Peak\ Hike\ In\ Cebu.jpg);
}
.des-img14{
    background-image: url(../img/mount\ luho\ in\ boracay.jpg)
}
.des-img15{
    background-image: url(../img/mount-darala\ in\ palawan.jpg);
}
.des-name{
    font-weight: 600;
}
.search-des{
    background-color: #eee;
    min-height: 35vh;
    margin: 1.5em 0 4.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cant-find{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.4em;
}
#srch-btn{
    margin: 1.1em 0 0 0;
    font-size: 0.9em;
    padding: 1em 2em;
    background-color: black;
    color: white;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 0.2s ease-in;
    border: none;
}
#srch-btn:hover{
    background-color: blue;
    color: white;
    transform: translateY(-5%);
}
.exp-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease-in;
}
.exp-img:hover{
    transform: translateY(-5%);
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}
.spec{
    background-color: black;
    color: white;
}
.des-foc:focus{
    background-color: black;
    color: white;
}
.remove-img{
    display: none;
}
.d-none{
    display: none;
}