body{
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
    padding: 4.5em 0 0 0;
    margin: 0;
    position: relative;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 11em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.title{
    margin: 0;
    font-size: 1.8em;
    cursor: pointer;
}
.spo-blue{
    color: blue;
}
.nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
.nav-li{
    height: 4.5em;
}
.a-head{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    color: black;
    font-size: 1em;
    transition: 0.2s ease-in;
}
.a-head:hover{
    color: blue;
}
.a-nav:active{
    font-weight: 600;
}
.s{
    font-size: 1.2em;
    margin-left: 0.5em;
}
footer{
    border-top: 1px solid lightgray;
    font-size: 1.1em;
    display: grid;
    padding: 2em 10.1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.exp-ul{
    list-style: none;
    padding: 0;
}
.exp-li{
    margin: 0 0 0.8em 0;
    display: flex;
}
.exp-a{
    text-decoration: none;
    color: black;
    min-width: 40%;
    transition: 0.2s ease-in;
}
.exp-a:hover{
    transform: translateX(2%);
    color: blue;
}
.trav, .ex-des, .res-des, .conn-des{
    font-weight: 600;
    font-size: 1.1em;
}
.exp-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease-in;
}
.dest-intro{
    margin:0;
    background-color: #eee;
    padding: 1.5em 11em;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dest-cat{
    font-weight: 600;
    margin: 0.2em 0;
    font-size: 1.7em;
}
.des-btn{
    font-size: 0.9em;
    padding: 0.8em 1.1em;
    margin: 0 0.7em 0 0;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    font-weight: 600;
    cursor: pointer;
}
.des-btn:first-child{
    background-color: black;
    color: white;
    border: none;
}
hr{
    width: 85%;
    border: none;
    height: 1px;
    background-color: lightgray;
}
.essential{
    margin: 0;
    background-color: #eee;
    padding: 1.5em 11em;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tip-cont{
    padding: 2em 21em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1em;
}
.tip-cards{
    padding: 1.5em 1.5em 0.5em 1.5em;
    gap: 1.5em;
    display: flex;
    border-radius: 0.6em;
    border: 1px solid lightgray;
    transition: 0.2s ease-in;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.tip-cards:hover{
    transform: translateY(-5%);
    box-shadow: 0 10px 10px rgba(0, 0, 255, 0.986);
}
.icon-cont{
    height: 7vh;
    width: 3.5vw;
    background-color: #eee;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tips-cont{
    flex: 1;
}
.tips{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 600;
}
.tip-des{
    text-align: justify;
}
.hr-tips{
    width: 67%;
    border: none;
    height: 1px;
    background-color: lightgray;
}
.gen-adv{
    padding: 1.5em 21em;
    font-size: 1.1em;
}
.gen-title{
    margin-bottom: 1.5em;
}
.trav-adv{
    margin-bottom: 2em;
}
.adv{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.7em;
}
.adv-des{
    margin-top: 0;
}