body{
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
    padding: 3em 0 0 0;
    margin: 0;
    position: relative;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 11em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.title{
    margin: 0;
    font-size: 1.8em;
    cursor: pointer;
}
.spo-blue{
    color: blue;
}
.nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
.nav-li{
    height: 4.5em;
}
.a-head{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    color: black;
    font-size: 1em;
}
.s{
    font-size: 1.2em;
    margin-left: 0.5em;
}
.explore-sec{
    min-height: 85vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em 0;
}
.intro-des{
    text-align: center;
    font-size: 1.1em;
}
.exp-des{
    font-weight: 600;
    font-size: 2em;
    margin: 0;
}

#explore-btn{
    height: 3em;
    padding: 0 1.5em;
    font-size: 0.9em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.6em;
    margin: 0.7em 0 0 0;
}
.show-destination{
    min-height: 85vh;
    margin: 0 0 3em 0;
    padding: 1em 11em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5em;   
}
.img1{
    grid-row: span 2;
    height: 60vh;
    background-color: #eee;
    border-radius: 0.5em;
}
.img2, .img3{
    background-color: #eee;
    border-radius: 0.5em;
}
hr{
    width: 85%;
    border: none;
    height: 1px;
    background-color: #eee;
}
.category-sec{
    font-size: 1.1em;
    padding: 3em 10.1em 2em 10.1em;
}
.exp-cat{
    font-size: 1.3em;
    font-weight: 600;
}
.cat-btn{
    font-size: 0.8em;
    padding: 0.5em 0.6em;
    border-radius: 0.4em;
    border: 1px solid grey;
    margin: 0 0.5em 0 0;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2em;
}
.card{
    margin: 1.5em 0 0 0;
}
.img-cont{
    height: 30vh;
    background-color: #eee;
    border-radius: 0.5em;
}
.top-dest{
    padding: 3em 10.1em;
    font-size: 1.1em;
    margin: 0 0 3em 0;
}
.cont{
    display: flex;
}
#viewall-btn{
    margin-left: auto;
    font-size: 0.9em;
    font-weight: 600;
    background-color: white;
    border: none;
    cursor: pointer;
}
.dest-text{
    font-size: 1.3em;
    font-weight: 600;
}
.top-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh;
    gap: 0.9em;
}
.top-card{
    background-color: #eee;
    border-radius: 0.5em;
}
footer{
    border-top: 1px solid #eee;
    font-size: 1.1em;
    display: grid;
    padding: 2em 10.1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.exp-ul{
    list-style: none;
    padding: 0;
}
.exp-li{
    margin: 0 0 0.8em 0;
}
.exp-a{
    text-decoration: none;
    color: black;
}
.trav, .ex-des, .res-des, .conn-des{
    font-weight: 600;
    font-size: 1.1em;
}
.dest-intro{
    margin: 1.5em 0 0 0;
    background-color: #eee;
    padding: 1.5em 11em;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dest-cat{
    font-weight: 600;
    margin: 0.2em 0;
    font-size: 1.7em;
}
.all-des{
    padding: 1.7em 11em;
}
.des-btn{
    font-size: 0.9em;
    padding: 0.8em 1.1em;
    margin: 0 0.7em 0 0;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 0.5em;
    font-weight: 600;
    cursor: pointer;
}
.des-btn:first-child{
    background-color: black;
    color: white;
    border: none;
}
.des-cards{
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2em;
}
.des-img{
    height: 30vh;
    background-color: #eee;
    border-radius: 0.7em;
}
.des-name{
    font-weight: 600;
}
.search-des{
    background-color: #eee;
    min-height: 35vh;
    margin: 1.5em 0 4.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cant-find{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.4em;
}
#srch-btn{
    margin: 1.1em 0 0 0;
    font-size: 0.9em;
    padding: 1em 2em;
    background-color: black;
    color: white;
    border-radius: 0.6em;
    cursor: pointer;
}
.schedule{
    padding: 1.7em 11em;
}
.iti-cont{
    padding: 2em 11em;
}
.date-info{
    background-color: #eee;
    display: flex;
    padding: 0 0 1.3em 0;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border: 1px solid lightgray;
}
.iti-box{
    margin-bottom: 3.5em;
}
.iti-dur{
    padding: 1em 0 0 1.5em;
    flex: 1;
}
.day-des{
    margin-bottom: 0.6em;
}
.duration{
    margin-top: 0;
}
.iti-days, .iti-des, .iti-tags{
    margin: 0 2em 0 0;
}
.diff-cont{
    margin: 1em 1.5em 0 0;
    text-align: end;
}
.diff{
    margin-bottom: 0.6em;
}
.iti-diff{
    margin-top: 0;
}
.highlights-daytoday{
    display: flex;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.highlights{
    min-width: 23vw;
    padding: 0.5em 1em 1em 1.5em;
    font-size: 1.1em;
}
.iti-ul{
    padding: 0;
    list-style: none;
}
.dot{
    font-size: 2em;
    margin: 0 0.2em 0 0;
    color: blue;
}
.daytoday{
    flex: 1;
    padding: 0.3em 0 0 0;
}
.day-title{
    font-weight: 600;
    font-size: 1.2em;
}
.day-plan{
    display: flex;
    margin: 0 0 1em 0;
    gap: 1em;
}
.day-num{
    background-color: rgb(193, 232, 245);
    text-align: center;
    padding: 0.3em;
    color: blue;
    min-width: 3.5vw;
    border-radius: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d{
    margin: 0 0 0.5em 0;
}
.num{
    margin: 0;
}
.sched-plan{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sched{
    margin: bottom 0.4em;;
    margin-top: 0;
}
.plan{
    margin-top: 0;
    font-size: 1.1em;
}
.others{
    padding: 1.6em;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}