body{
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
    padding: 4.5em 0 0 0;
    margin: 0;
    position: relative;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 11em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.title{
    margin: 0;
    font-size: 1.8em;
    cursor: pointer;
}
.spo-blue{
    color: blue;
}
.nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
.nav-li{
    height: 4.5em;
}
.a-head{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    color: black;
    font-size: 1em;
}
.a-head.active{
    font-weight: 600;
    color: black;
}
.s{
    font-size: 1.2em;
    margin-left: 0.5em;
}
.explore-sec{
    min-height: 85vh;
    background-color: #eee;
    display: flex;
    margin: 0 0 4em 0;
    position: relative;
    width: 100%;
}
.exp-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease-in;
}

.exp-images1{
    flex: 1;
    background-image: url(../img/Vigan\ tour.jpg);
}
.exp-images2{
    flex: 1;
    background-image: url(../img/Manila\ Philippines.jpg);
    height: 85vh;
}
.exp-images3{
    flex: 1;
    background-image: url(../img/banaue_rice_terrace_view.jpg);
    height: 85vh;
}
.exp-images4{
    flex: 1;
    background-image: url(../img/El\ Nido\ Palawan\ Beach\ 1.jpg);
    height: 85vh;
}
.exp-images5{
    flex: 1;
    background-image: url(../img/Cebu\ mactan.webp);
    height: 85vh;
}
.intro-des{
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    z-index: 100;
    top: 35%;
    left: 24%;
}
.disc-des{
    color: white;
    font-size: 1.1em;
}
.exp-des{
    font-weight: 600;
    font-size: 3.8em;
    margin: 0;
    color:white;
}
#explore-btn{
    height: 3em;
    padding: 0 1.5em;
    font-size: 0.9em;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.6em;
    margin: 0.7em 0 0 0;
}
.show-destination{
    min-height: 85vh;
    margin: 0 0 3em 0;
    padding: 1em 11em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5em;   
}
.img1{
    grid-row: span 2;
    height: 60vh;
    background-color: #eee;
    border-radius: 0.5em;
    background-image: url(../img/Vigan\ City\ 1.jpg);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.img2, .img3{
    background-color: #eee;
    border-radius: 0.5em; 
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);  
}
.img2{
    background-image: url(../img/Bohol\ 1\ .jpg);
}
.img3{
    background-image: url(../img/Siargao\ Island\ 3.jpg);
}
hr{
    width: 85%;
    border: none;
    height: 1px;
    background-color: lightgray;
}
.category-sec{
    font-size: 1.1em;
    padding: 3em 10.1em 2em 10.1em;
}
.exp-cat{
    font-size: 1.3em;
    font-weight: 600;
}
.cat-btn{
    font-size: 0.8em;
    padding: 0.5em 0.6em;
    border-radius: 0.4em;
    border: 1px solid lightgray;
    margin: 0 0.5em 0 0;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2em;
}
.card{
    margin: 1.5em 0 0 0;
}
/*Here*/
.img-cont1, .img-cont2, .img-cont3, .img-cont4{
    height: 30vh;
    background-color: #eee;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.img-cont1{
    background-image: url(../img/Palawan\ Island\ 3.jpg);
}
.img-cont2{
    background-image: url(../img/Rice\ terraces\ cordilleras.png);
}
.img-cont3{
    background-image: url(../img/Cebu\ Magellan’s\ Cross.jpg);
}
.img-cont4{
    background-image: url(../img/Boracay\ Beach.jpg);
}
.top-dest{
    padding: 3em 10.1em;
    font-size: 1.1em;
    margin: 0 0 3em 0;
}
.cont{
    display: flex;
}
#viewall-btn{
    margin-left: auto;
    font-size: 0.9em;
    font-weight: 600;
    background-color: white;
    border: none;
    cursor: pointer;
}
.dest-text{
    font-size: 1.3em;
    font-weight: 600;
}
.top-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh;
    gap: 0.9em;
}
.top-card1, .top-card2, .top-card3, .top-card4, .top-card5, .top-card6{
    background-color: #eee;
    border-radius: 0.5em;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.top-card1{
    background-image: url(../img/El\ Nido\ Palawan\ \,\ PH\(1\).jpg);
}
.top-card2{
    background-image: url(../img/Bohol\ 2\ .jpg);
}
.top-card3{
    background-image: url(../img/CLOUD\ 9\ Siargao\ Beach\ 1.avif);
}
.top-card4{
    background-image: url(../img/Manila\ Quipo\ Chruch.jpg);
}
.top-card5{
    background-image: url(../img/Palawan\ Island\ 2.jpg);
}
.top-card6{
    background-image: url(../img/Siargao\ Island\ 2.jpg);
}
footer{
    border-top: 1px solid lightgray;
    font-size: 1.1em;
    display: grid;
    padding: 2em 10.1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.exp-ul{
    list-style: none;
    padding: 0;
}
.exp-li{
    margin: 0 0 0.8em 0;
}
.exp-a{
    text-decoration: none;
    color: black;
}
.trav, .ex-des, .res-des, .conn-des{
    font-weight: 600;
    font-size: 1.1em;
}
.search-des{
    background-color: #eee;
    min-height: 35vh;
    margin: 1.5em 0 4.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cant-find{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.4em;
}
#srch-btn{
    margin: 1.1em 0 0 0;
    font-size: 0.9em;
    padding: 1em 2em;
    background-color: black;
    color: white;
    border-radius: 0.6em;
    cursor: pointer;
}
.schedule{
    padding: 1.7em 11em;
}
.iti-cont{
    padding: 2em 11em;
}
.date-info{
    background-color: #eee;
    display: flex;
    padding: 0 0 1.3em 0;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border: 1px solid lightgray;
}
.iti-box{
    margin-bottom: 3.5em;
}
.iti-dur{
    padding: 1em 0 0 1.5em;
    flex: 1;
}
.day-des{
    margin-bottom: 0.6em;
}
.duration{
    margin-top: 0;
}
.iti-days, .iti-des, .iti-tags{
    margin: 0 2em 0 0;
}
.diff-cont{
    margin: 1em 1.5em 0 0;
    text-align: end;
}
.diff{
    margin-bottom: 0.6em;
}
.iti-diff{
    margin-top: 0;
}
.highlights-daytoday{
    display: flex;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.highlights{
    min-width: 23vw;
    padding: 0.5em 1em 1em 1.5em;
    font-size: 1.1em;
}
.iti-ul{
    padding: 0;
    list-style: none;
}
.dot{
    font-size: 2em;
    margin: 0 0.2em 0 0;
    color: blue;
}
.daytoday{
    flex: 1;
    padding: 0.3em 0 0 0;
}
.day-title{
    font-weight: 600;
    font-size: 1.2em;
}
.day-plan{
    display: flex;
    margin: 0 0 1em 0;
    gap: 1em;
}
.day-num{
    background-color: rgb(193, 232, 245);
    text-align: center;
    padding: 0.3em;
    color: blue;
    min-width: 3.5vw;
    border-radius: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d{
    margin: 0 0 0.5em 0;
}
.num{
    margin: 0;
}
.sched-plan{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sched{
    margin: bottom 0.4em;;
    margin-top: 0;
}
.plan{
    margin-top: 0;
    font-size: 1.1em;
}
.others{
    padding: 1.6em;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}
.gallery{
    padding: 1.7em 11em;
}
.gal-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    margin: 2em 0 0 0;
}
.gal-hov:hover{
    transform: scale(1.1);
}
.gal-card1, .gal-card2, .gal-card3, .gal-card4, .gal-card5, .gal-card6, .gal-card7, .gal-card8, .gal-card9, .gal-card10, .gal-card11, .gal-card12, .gal-card13, .gal-card14, .gal-card15, .gal-card16,.gal-card17, .gal-card18, .gal-card19, .gal-card20 {
    background-color: #eee;
    min-height: 30vh;
    border-radius: 0.6em;
    transition: 0.2s ease-in;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
}
.gal-card1{
    background-image: url(../img/Vigan\ tour.jpg);
}
.gal-card2{
    background-image: url(../img/banaue_rice_terrace_view.jpg);
}
.gal-card3{
    background-image: url(../img/Vigan\ City\ 1.jpg);
}
.gal-card4{
    background-image: url(../img/Bohol\ 1\ .jpg);
}
.gal-card5{
    background-image: url(../img/Sumilon\ Island\ \ Cebu\ 2.jpg);
}
.gal-card6{
    background-image: url(../img/Bohol\ 2\ .jpg);
}
.gal-card7{
    background-image: url(../img/Sumilon\ Island\ \ Cebu\ 1.jpg);
}
.gal-card8{
    background-image: url(../img/Boracay\ 2.jpg);
}
.gal-card9{
    background-image: url(../img/Siargao\ Island\ 3.jpg);
}
.gal-card10{
    background-image: url(../img/Cebu\ mactan.webp);
}
.gal-card11{
    background-image: url(../img/Siargao\ Island\ 2.jpg);
}
.gal-card12{
    background-image: url(../img/Cebu\ Magellan’s\ Cross.jpg);
}
.gal-card13{
    background-image: url(../img/Rice\ terraces\ cordilleras\ 2.jpg);
}
.gal-card14{
    background-image: url(../img/Cloud\ 9\ Siargao\ Beach.jpg);
}
.gal-card15{
    background-image: url(../img/El\ Nido\ Palawan\ \,\ PH\(1\).jpg);
}
.gal-card16{
    background-image: url(../img/Manila\ Philippines.jpg);
}
.gal-card17{
    background-image: url(../img/Palawan\ Island\ 2.jpg);
}
.gal-card18{
    background-image: url(../img/Manila\ Quipo\ Chruch.jpg);
}
.gal-card19{
    background-image: url(../img/Palawan\ Island\ 3.jpg);
}
.gal-card20{
    background-image: url(../img/Rice\ terraces\ cordilleras.png);
}
.load-cont{
    padding: 2.5em;
    text-align: center;
}
.load-btn{
    font-size: 0.9em;
    padding: 0.8em 1.3em;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    font-weight: 600;
    cursor: pointer;
}
.essential{
    margin: 0;
    background-color: #eee;
    padding: 1.5em 11em;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tip-cont{
    padding: 2em 21em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1em;
}
.tip-cards{
    padding: 1.5em 1.5em 0.5em 1.5em;
    gap: 1.5em;
    display: flex;
    border-radius: 0.6em;
    border: 1px solid lightgray;
}
.icon-cont{
    height: 7vh;
    width: 3.5vw;
    background-color: #eee;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tips-cont{
    flex: 1;
}
.tips{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 600;
}
.tip-des{
    text-align: justify;
}
.hr-tips{
    width: 67%;
    border: none;
    height: 1px;
    background-color: lightgray;
}
.gen-adv{
    padding: 1.5em 21em;
    font-size: 1.1em;
}
.gen-title{
    margin-bottom: 1.5em;
}
.trav-adv{
    margin-bottom: 2em;
}
.adv{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.7em;
}
.adv-des{
    margin-top: 0;
}